@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  --font-roboto: "Roboto", sans-serif;
}

body {
  font-family: var(--font-roboto);
}
.nav-link {
    @apply text-gray-700 hover:text-blue-600 transition duration-300;
  }
  
  .nav-link-mobile {
    @apply block px-4 py-2 text-gray-700 hover:bg-blue-100 transition duration-300;
  }
  
  @keyframes rotateRing {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .animate-rotateRing {
    animation: rotateRing 10s linear infinite;
  }
  